{% extends "home/index.html" %}
{% load static %}
{% block menu%}
<nav id="header" class="fixed w-full z-30 top-0 text-white">
    <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
        <div class="pl-4">
            <a class="font-bold lg:text-4xl" href="{% url 'home:home' %}">
            <img style="height: 50px; align-content: center;" src="{% static 'home/ima/logo.png' %}" alt="Curriculo.Page" >
            </a>
        </div>
    </div>
</nav>
{% endblock menu%}
{% block content-body %}
 <section id="about" class="bg-white border-b py-8">
    <div class="container max-w-5xl mx-auto m-8">
      <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
        ¡Muchas gracias por registrarse!
      </h1>
      <div class="w-full mb-4">
        <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
      </div>
      <div class="flex flex-wrap">
        <div class="w-full sm:w-1/2 p-6">
            <br><br><br>
            <h6 class="text-5xl leading-tight text-center text-gray-800">
                <a href="{% url 'login' %}">Inicie sesión con sus datos registrados
                </a>
            </h6>
        </div>
        <div class="w-full sm:w-1/2 p-6">
          <a href="{% url 'login' %}"><img src="{% static 'home/ima/curriculo.png' %}" alt=""></a>
        </div>
      </div>
    </div>
  </section>
{% endblock content-body %}                        
