{% extends "account/base.html" %}
{% load static %}
{% block content-form %}
                <div class="login-form">
                    <form method="POST">{% csrf_token %}                
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div class="form-group">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="clase">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <strong>Revise sus credenciales de acceso</strong>
                                </div>        
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label>Usuario</label>
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            {{ form.password }}
                        </div>
                        <div class="checkbox">
                            <label class="pull-right">
                                <a href="{% url 'reset_password' %}">Recuperar acceso</a>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Ingresar</button>
                        <div class="register-link m-t-15 text-center">
                            <p>¿Aún no tienes cuenta?<a href="{% url 'register' %}"> Registrarse</a></p>
                        </div>
                    </form>
                </div>
{% endblock content-form %}
