{% extends "account/base.html" %}
{% load static %}
{% block content-form %}
                <div class="login-form">
                    <h3>Envío de correo electrónico satisfactoriamente</h3>
                    <br><p>Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Deberías recibirlos en breve.
                    Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.
                    </p>
                </div>
{% endblock content-form %}
