{% extends "dashboard/index.html" %}
{% load static %}
{% block right-content %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-12">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h2>Preguntas Frecuentes</h2>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="animated fadeIn">
        <div class="row">      
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Revise la información</strong>
                    </div>
                    <div id="faq1" class="card-body" style="text-align: center;" >
                    </div>
                </div>           
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
{% endblock right-content %}
{% block scripts %}
<script src="{% static 'support/js/main.js' %}"></script>
{% endblock scripts %}
