{% extends "dashboard/index.html" %}
{% load static %}
{% block right-content %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-12">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h2>Datos de contacto</h2>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="animated fadeIn">
        <div class="row">      
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {% for data in data_user %}
                        <p>Teléfono: {{data.telephone}}</p>
                        <p>Celular: {{data.cellphone}}</p>
                        <p>LinkedIn: {{data.linkedin_social_url}}</p>
                        <p>GitHub: {{data.github_social_url}}</p>
                        <p>Facebook: {{data.facebook_social_url}}</p>
                        <p>Twitter: {{data.twitter_social_url}}</p>
                        <p>Instagram: {{data.instagram_social_url}}</p>
                        <a href="{% url 'datos_contacto_modificacion' data.id %}" class="btn btn-primary">Actualizar  informacion</a>
                        {% endfor %}
                        <a href="{% url 'objetivos' %}" class="btn btn-success">Ir a Objetivos Profesionales</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
{% endblock %}
