{% extends "dashboard/index.html" %}
{% load static %}
{% block right-content %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-12">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h2>Comentarios y observaciones</h2>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="animated fadeIn">
        <div class="row">      
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Formulario</strong>
                    </div>
                    <div class="card-body" style="text-align: center;" >
                        <form  id="form_feedback" action="{% url 'support:feedback' %}" method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                            <button class="btn btn-primary" type="button" onclick="createFeedBack();">Enviar</button>
                        </form>
                        <div id="success">
                        </div>          
                    </div>
                </div>           
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
{% endblock right-content %}
{% block scripts %}
<script src="{% static 'support/js/main.js' %}"></script>
{% endblock scripts %}
